body {
  padding: 0;
  margin: 0; 
}
.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color:azure
}

body {
  padding: 0;
  margin: 0;
}

.container{
  border: 1px solid salmon;
}